html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.next_button_container {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.next_button {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: -50px 0 0 0;
  display: inline-block;
}
.next_button_offset {
  left: 70px;
}
#center_content_holder {
  height: 309px;
  width: 600px;
  margin: 0 auto;
  position: relative;
}
#viewing_port_div {
  width: 450px;
  height: 100%;
  display: inline-block;
}
.grey_border {
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px;
  box-shadow: 2px 2px 10px #00000029;
}
.next_arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px -10px;
  width: 20px;
  height: 30px;
}
#green_circle {
  width: 100px;
  height: 100px;
  display: table;
  margin: 0 auto;
  padding: 50px;
}
#pos_barcode {
  width: 200px;
  height: 150px;
  display: table;
  margin: 0 auto;
  padding: 50px;
}
.fill_container {
  width: 100%;
  height: 100%;
}
.sexy_header_text {
  font: 25px arial, sans-serif;
  color: #868686;
  text-align: center;
  padding: 20px;
}
.pad_15 {
  padding: 15px;
}
.little_sub_text {
  font: 15px arial, sans-serif;
  color: #868686;
  text-align: center;
}
.midsized_sub_text {
  font: 20px arial, sans-serif;
  color: #868686;
  text-align: center;
}
#successful_scan {
  display: none;
}
#absolute_logo {
  width: 110px;
  height: 60px;
}
#hover_container {
  background-color: white;
  width: 800px;
  height: 440px;
  margin: auto;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #00000029;
}